/* Indentation. */

.md-main__inner {
    margin-bottom: 1.5rem;
  }

div.doc-contents:not(.first) {
    padding-left: 25px;
    border-left: .05rem solid var(--md-typeset-table-color);
  }
  
  /* Mark external links as such. */
  a.external::after,
  a.autorefs-external::after {
    /* https://primer.style/octicons/arrow-up-right-24 */
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
    content: ' ';
  
    display: inline-block;
    vertical-align: middle;
    position: relative;
  
    height: 1em;
    width: 1em;
    background-color: var(--md-typeset-a-color);
  }
  
  a.external:hover::after,
  a.autorefs-external:hover::after {
    background-color: var(--md-accent-fg-color);
  }

  .banner {
    height: 48px;       /* Height of the banner */
    position: sticky;   /* Follows as you scroll */
    top: 0;             /* Absolute top of page */
    left: 0;
    width: 100%;
    z-index: 1;         /* Tells the renderer "this is important", otherwise Admonition and Code Blocks will render into it */
    text-align: center;
    background-color: #8B008B;
  }

  .md-header {
    top: 48px;          /* This setting prevents the Material header from imposing into the space of the banner! */
}

.youtube {
  color: #ff0000;
}

.linkedin {
  color: #0a66c2;
}

.facebook {
  color: #1877f2;
}

.paypal {
  color: #003087;
}